body {
    background-color: rgb(174, 174, 174);
}

.form {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    margin: auto;
}

.form > label{
    display: block;
}

.form > button {
    text-align: center;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border-width: 0.5px;
}