* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/*first task*/
.box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10%;
}

.box__btn {
  border: none;
  padding: 15px 32px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}